# IDE
.project
.idea

# Other local files

# Terraform files
**/.terraform/*
terraform/**/*.log
terraform/**/*manifest.json
terraform/entire-tf-output
**/entire-tf-output
*.tfstate
*.tfstate.*
.terraform.lock.hcl
